@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Caveat:wght@400..700&family=Chivo:ital,wght@0,100..900;1,100..900&family=Dancing+Script:wght@400..700&family=Noto+Sans+JP:wght@100..900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Reddit+Mono:wght@200..900&family=Salsa&family=Sigmar&family=Suez+One&family=Victor+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Caveat:wght@400..700&family=Chivo:ital,wght@0,100..900;1,100..900&family=Courgette&family=Dancing+Script:wght@400..700&family=Noto+Sans+JP:wght@100..900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Reddit+Mono:wght@200..900&family=Salsa&family=Sigmar&family=Suez+One&family=Victor+Mono:ital,wght@0,100..700;1,100..700&display=swap');

*{
  font-family: "Chivo", sans-serif;
  margin-left: 0px;
  margin-right: 0px;
}

.logo{
  width: 500px;
  height: auto;
  text-align: center;
  display: block; /* Pour s'assurer que les marges automatiques fonctionnent correctement */
  margin: 0 auto; /* Marges automatiques pour centrer horizontalement */
}

.banner{
  width: 500px;
  height: auto;
  object-fit: cover; 
  margin: 0px;
  opacity: 0.8;
}

.banner-container {
  position: relative;
}

.banner-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
  opacity: 0.7;
}

.banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: black;
  font-size: 24px; /* Modifiez la taille de la police selon vos besoins */
}

.presentation{
  text-align: center;
}

.menu{
  color: white;
  background-color: lightgrey;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 300px;
}

.menu a {
  color: white; /* Couleur du texte */
  text-decoration: none; /* Enlève le soulignage */
}

.top-categories {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 22px;
  background-color: #F7559A;
}

.top-categories a {
  color: white;
  text-decoration: none;
}

.category-link {
  transition: transform 350ms;
}

.category-link:hover {
  transform: scale(1.2);
}

.top-categories span {
  margin: 0 10px;
}


.card-evjf{
  background-image: url('../../assets/evjf.jpeg'); /* Remplacez 'chemin_vers_votre_image.jpg' par le chemin de votre image */
  background-size: cover;
  background-position: center;
  width: 100%; /* Assure que la carte occupe toute la largeur disponible */
  height: 100%; /* Assure que la carte occupe toute la hauteur disponible */
  display: flex; /* Utilise Flexbox pour aligner le contenu */
  justify-content: center; /* Centre le contenu horizontalement */
  align-items: center; /* Centre le contenu verticalement */
  font-family: "Courgette", cursive;
  font-size: 44px;
}

.card-evg{
  background-image: url('../../assets/evg.jpeg'); /* Remplacez 'chemin_vers_votre_image.jpg' par le chemin de votre image */
  background-size: cover;
  background-position: center;
  width: 100%; /* Assure que la carte occupe toute la largeur disponible */
  height: 100%; /* Assure que la carte occupe toute la hauteur disponible */
  display: flex; /* Utilise Flexbox pour aligner le contenu */
  justify-content: center; /* Centre le contenu horizontalement */
  align-items: center; /* Centre le contenu verticalement */
  font-family: "Courgette", cursive;
  font-size: 44px;
}

.card-evjf:hover{
  opacity: 0.8;
  transition: transform 250ms, opacity 250ms; /* Ajout de la transition pour le survol */
}

.card-evg:hover{
  opacity: 0.8;
  transition: transform 250ms, opacity 250ms; /* Ajout de la transition pour le survol */
}

.card {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  width: 200px;
  display: inline-block;
}

.card img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.activity-image {
  width: 300px; /* Ajuster la largeur de l'image pour remplir la carte */
  height: 300px; /* Ajuster la hauteur de l'image de manière proportionnelle */
  border-radius: 8px; /* Ajouter un arrondi aux coins de l'image */
  object-fit: cover;
}

.activity-image:hover{
  opacity: 0.8;
  transition: transform 250ms, opacity 250ms; /* Ajout de la transition pour le survol */
}

.activity-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightgray;
}

.activity-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Trois colonnes */
  grid-auto-rows: auto;
  gap: 20px; /* Espacement entre les cartes */
}

.activity-card {
  border-radius: 20px;
  padding: 10px;
  width: 100%; /* Prend la largeur de la colonne */
}

.activity-title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 5px;
}

.activity-price {
  font-size: 16px;
}

.activity-image {
  width: 300px;
  height: 300px;
  border-radius: 20px;
}

.organisation{
  font-family: "Courgette", cursive;
  font-size: 40px;
}

.product-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
  opacity: 0; /* Initialise l'opacité à 0 pour cacher la page */
  animation: fadeIn 1s ease-in-out forwards; /* Utilisation de l'animation fadeIn */
}

/* Animation fadeIn pour faire apparaître progressivement la page */
@keyframes fadeIn {
  from {
    opacity: 0; /* Début de l'animation avec une opacité de 0 */
  }
  to {
    opacity: 1; /* Fin de l'animation avec une opacité de 1 */
  }
}

.product-image-container {
  margin-right: 50px;
}

.product-image {
  width: 400px;
  height: 400px;
  border-radius: 20px;
  object-fit: cover;
}

.product-details {
  max-width: 600px;
}

.product-title {
  font-size: 44px;
  font-weight: bold;
  margin-bottom: 10px;
}

.product-description {
  font-size: 22px;
  margin-bottom: 10px;
}

.product-price {
  font-size: 22px;
  font-weight: bold;
}

.button button {
  box-sizing: border-box;
  cursor: pointer;
  width: 450px;
  height: 45px;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  background: #F7559A;
  border-radius: 5px;
  color: white;
  font-size: 18px;
  transition: transform 250ms, opacity 250ms; /* Ajout de la transition pour le survol */
  border: 2px solid #F7559A;
}

.button button {
  transition: background 0.3s ease, color 0.3s ease, border 0.3s ease; /* Ajoute une transition pour une animation fluide */
  text-decoration: none; /* Enlève le soulignage sur le lien */
}

.button{
  display: flex;
  justify-content: space-evenly;
}

.button button:hover {
  background: #F77CB2;
  color: white; /* Maintient la couleur du texte en blanc */
  border: 2px solid #F77CB2;
}

.button button a {
  text-decoration: none; /* Enlève le soulignage sur le lien */
}

.button button a,
.button button a:visited {
  text-decoration: none; /* Enlève le soulignage sur le lien */
  color: white; /* Définit la couleur du texte pour les liens non visités et visités */
}

.button button:hover {
  background: #F77CB2;
  color: white; /* Maintient la couleur du texte en blanc */
  border: 2px solid #F77CB2;
}

.activity-card {
  animation: apparition_activites 1s ease-in-out forwards;
  overflow: hidden;
  opacity: 0;
  animation-delay: 400ms; /* Ajoutez un délai de 400ms */
}


.organisation{
  animation: apparition_activites 1s ease-in-out forwards; /* Utilisation de la bonne animation et du fill-mode */
  overflow: hidden;
  opacity: 0;
}

@keyframes apparition_activites {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.panier-title{
  text-align: center;
  font-family: "Courgette", cursive;
  font-size: 40px;
}

.panier-container {
  margin: 0 auto;
  max-width: 600px;
  padding: 20px;
}

.empty-cart-message {
  text-align: center;
}

.cart-items-list {
  list-style: none;
  padding: 0;
}

.cart-item {
  margin-bottom: 20px;
}

.item-details {
  display: flex;
  align-items: center;
}

.item-image {
  width: 100px;
  height: 100px;
  margin-right: 10px;
  border-radius: 10px;
}

.item-image:hover{
  opacity: 0.8;
  cursor:pointer;
  transition: transform 250ms, opacity 250ms; /* Ajout de la transition pour le survol */
}

.item-description {
  flex: 1;
}

.item-title {
  margin: 0;
}

.item-quantity,
.item-price {
  margin: 5px 0;
}

.separator {
  border: none;
  border-top: 1px solid #ccc;
  margin: 10px 0;
}

.total-price {
  text-align: right;
  font-weight: bold;
}

.button-commande button {
  box-sizing: border-box;
  cursor: pointer;
  width: 100px;
  height: 40px;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  background: #F7559A;
  border-radius: 5px;
  color: white;
  font-size: 12px;
  transition: transform 250ms, opacity 250ms; /* Ajout de la transition pour le survol */
  border: 2px solid #F7559A;
}

.button-commande button:hover {
  background: #F77CB2;
  color: white; /* Maintient la couleur du texte en blanc */
  border: 2px solid #F77CB2;
  transition: transform 250ms, opacity 250ms; /* Ajout de la transition pour le survol */
}

.confirmation-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.center-image {
  margin-top: 20px; /* Ajoutez une marge au besoin */
}

.error{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gif-erreur{
  width: 600px;
  height: auto;
}

.error-number{
  font-size: 100px;
  margin:10px;
}

.footer{
  background-color: black;
  color: white;
  text-align: center;
  padding: 30px;
  margin-top: 5px;
}